html {
  scroll-snap-type: y mandatory;
  background-color: #080721;
}

.app {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #080721;
}

.app__top {
  margin-bottom: -100px;
}

.app__top > h1 {
  text-align: center;
  color: #DFDEDA;
}

.app__logo {
  height: 12vh;
}

.app__videos {
  position: relative;
  height: 70vh;
  background-color: #DFDEDA;
  width: 70%;
  border-radius: 20px;
  max-width: 450px;
  max-height: 1400px;
  scroll-snap-type: y mandatory;
  overflow: scroll;
}

.app__videos::-webkit-scrollbar {
  display: none;
}

.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}